
    $primary-text-color: #212121;
    $secondary-text-color: #757575;
    $accent-color: #2196f3;
    $white-color: #ffffff;
    $black-color: #000000;
    $secondary-bgc: #2f303a;
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --black-color: #000000;
    --secondary-bgc: #2f303a;
}